nav .brand-logo {
	padding-left: 16px !important;
	white-space: nowrap;
}

#page-content-div {
    padding-top: 40px;
    padding-bottom: 40px;
}

.titlename {
	text-align: center;
	font-size: 2.1rem;
	letter-spacing: 0px;
	line-height: 1.1em;
}
